<div class="container__big-card">
    <div class="big-card__photo">
        <!-- colocar foto  -->
        <img src="https://assetsio.reedpopcdn.com/star-wars-is-grogu-related-to-yoda.webp?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp alt=" height="270px" width="398px" srcset="">

</div>

    <div class="big-card__title">
        <h1>Bem-Vindo(a)</h1>
    
</div>

    <div class="big-card__description">
    <p>Aqui poderá acompanhar toda minha evolução nesse mundo mágico. Me chamo Yngrid e estou cursando Análise e desenvolvimento de sistemas e venho buscando sempre agregar meus conhecimentos além da sala de aula, fazendo cursos e bootcamps.</p>
</div>

</div>